@font-face {
    font-family: 'BANANASP'; /*a name to be used later*/
    src: url('../font/BANANASP.TTF'); /*URL to font*/
}

html{
  /*font-family: 'BANANASP';*/

  background-color: #F9D8E8;
  font-family: "Times New Roman", Times, serif;
  text-align: center;

  font-family: sans-serif;
  font-weight: 100;
}

canvas {
    z-index: 500;
    position: absolute;
    top: 0;
    left: 0;
}

#text{
  margin-top: 20px;
}

#countdown{
  color: #00FFFF;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  font-family: 'BANANASP';
  font-size: 44px;
  margin-bottom: 16px;
}
#gifholder{
  margin-top: 16px;
}
#gifholder img{

  padding: 10px;
  border-radius: 2px;
  background: #00FFFF;
  position: relative;
  margin: 20px;
  box-shadow:
    0 0 0 10px hsl(0, 0%, 50%),
    0 0 0 15px hsl(0, 0%, 60%),
    0 0 0 20px hsl(0, 0%, 70%),
    0 0 0 25px hsl(0, 0%, 80%),
    0 0 0 30px hsl(0, 0%, 90%);
}

h1{
  color: #396;
  font-weight: 100;
  font-size: 40px;
  margin: 40px 0px 20px;
}

#clockdiv{
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
}

#clockdiv > div{
    padding: 10px;
    border-radius: 3px;
    background: #00BF96;
    display: inline-block;
}

#clockdiv div > span{
    padding: 15px;
    border-radius: 3px;
    background: #00816A;
    display: inline-block;
}

.smalltext{
    padding-top: 5px;
    font-size: 16px;
}
